@using BO;
@model UsuarioBO

@{
    Layout = null;
}

@using (Html.BeginForm("ActualizarPerfil", "Usuario", FormMethod.Post))
{
    <div class="creditly-card-form agileinfo_form">
        <section class="creditly-wrapper wthree, w3_agileits_wrapper">
            <div class="credit-card-wrapper">
                <div class="first-row form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="control-label">Nombre</label>
                            @Html.TextBoxFor(x => x.Nombre, new { Class = "form-control", PlaceHolder = "Nombre" })
                        </div>
                        <div class="col-sm-6">
                            <label class="control-label">Apellidos</label>
                            @Html.TextBoxFor(x => x.Apellidos, new { Class = "form-control", PlaceHolder = "Apellidos" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="control-label">Fecha de nacimiento</label>
                            @Html.TextBoxFor(x => x.FechaNac, new { Class = "form-control", Type = "date" })
                        </div>
                        <div class="col-sm-6">
                            <label class="control-label">Teléfono</label>
                            @Html.TextBoxFor(x => x.Telefono, new { Class = "form-control", PlaceHolder = "Teléfono" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="control-label">Dirección</label>
                            @Html.TextBoxFor(x => x.Direccion, new { Class = "form-control", PlaceHolder = "Dirección"})
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}
