@using System.Data;
@model DataTable

@{
    ViewBag.Title = "DatosPerfil";
    Layout = "~/Views/BackEnd/MasterPage/_layoutBackEnd.cshtml";
}
@using (Ajax.BeginForm("actualizar", "PerfilAdmin", new AjaxOptions() { HttpMethod = "POST" }, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="content letrasindexusuarios">
    <div class="container-fluid">
@foreach (DataRow row in Model.Rows)
{
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="card card-user">
                    <div class="image">
                        <img src="~/Recursos/BackEnd/img/fondo.jpg" alt="...">
                    </div>
                    <div class="content">
                        <div class="author">
                            <img class="avatar border-white" src="~/Recursos/BackEnd/img/@row["Imagen"]" width="200" height="200">
                            <h4 class="title">
                                @row["Nombre"]<br>
                                @row["Apellidos"]
                                <a href="#"></a>
                            </h4>
                        </div>
                        <p class="description text-center">
                            "I like the way you work it <br>
                            No diggity <br>
                            I wanna bag it up"
                        </p>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Editar Perfil</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>ID</label>
                                        <input type="text" class="form-control border-input" name="ID" placeholder="ID" value="@row["Codigo"]" readonly= "readonly" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input type="text" class="form-control border-input" name="Nombre" placeholder="Nombre" value="@row["Nombre"]" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Apellidos</label>
                                        <input type="text" class="form-control border-input" name="Apellidos" placeholder="Apellidos" value="@row["Apellidos"]" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Correo</label>
                                        <input type="text" class="form-control border-input" name="Correo" placeholder="Correo" value="@row["Email"]" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Contraseña</label>
                                        <input type="text" class="form-control border-input" name="Contraseña" placeholder="Contraseña" value="@row["Contraseña"]" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Fecha De Nacimiento</label>
                                        <input type="text" class="form-control border-input" name="FechaNac" placeholder="FechaNac" value="@row["FechaNac"]"readonly= "readonly" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Dirrecion</label>
                                        <input class="form-control border-input" placeholder="Dirreccion" value="@row["Direccion"]" type="text">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Telefono</label>
                                        <input type="tel" class="form-control border-input" name="Telefono" placeholder="Telefono" value="@row["Telefono"]" onkeypress = "return valida(event)", maxlength = "10" pattern = "[0-9]{10}" />
                                    </div>
                                </div>
                               
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Imagen</label>
                                        <input type="hidden" class="form-control border-input" name="img" placeholder="img" value="@row["Imagen"]" readonly="readonly" />
                                        <input type="file" class="form-control border-input" name="Imagen" placeholder="Imagen" value="@row["Imagen"]" accept=".png, .jpg, .jpeg" />
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-info btn-fill btn-wd" onclick="actualizar()">Actualizar</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
}
    </div>
</div>
}

<script>
            function valida(e) {
                tecla = (document.all) ? e.keyCode : e.which;

                //Tecla de retroceso para borrar, siempre la permite
                if (tecla == 8) {
                    return true;
                }

                // Patron de entrada, en este caso solo acepta numeros
                patron = /[0-9]/;
                tecla_final = String.fromCharCode(tecla);
                return patron.test(tecla_final);
            }
</script>

<script>
    function actualizar() {
        alert("Se han actualizado los datos");
    }
</script>